{% extends 'super5_base_site.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="all stripedbkg clearfix">
        <div class="content_container clearfix">
            <div class="formpage_container signin_container">
                <div class="formpage_title -modExpand">{{ title }}</div>
                <div class="form_container">
                	<div class="form_row clearfix">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</div>
                	<div class="form_row clearfix">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
