{% extends 'super5_base_site.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="all stripedbkg clearfix">
        <div class="content_container clearfix">
            <div class="formpage_container signin_container">
                <div class="formpage_title -modExpand">{{ title }}</div>
                <div class="form_container">
                	<div class="form_row clearfix">{% trans "Your password has been set.  You may go ahead and log in now." %}</div>
				<div class="form_row create_account -center">
					<a href="{{ login_url }}" class="red_color">{% trans 'Log in' %}</a>
				</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
