.modal-c.modal1
	//- обертка для позиционирования окна по центру
	.modal-c_center
		//- обертка для анимации тк позиционирование конфликт с анимацией в animate.css
		.modal-c_animated
			.modal-c_close close
			.modal-c_content
				h1 modal content
